$color_price: #d00000;
$color_primary: #eb7c1e;
$filter_color_primary: invert(56%) sepia(67%) saturate(2056%) hue-rotate(350deg) brightness(96%) contrast(91%);
$filter_color_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);


.btn-primary {border-color: $color_primary; background: $color_primary; color: #fff;}
.btn-custom {border-color: #546069; background: #546069; color: #fff;
    &:hover {border-color: #242424; background: #242424; color: #fff;}
}

.mobile-header {
    &__panel {background: $color_primary;}
    &__logo {
        img {max-height: 40px; filter:$filter_color_white}
    }
    &__menu-button {
        img {filter: $filter_color_white;}
        &:hover {background: rgba(255, 255, 255, 1);
            img {filter:$filter_color_primary;}
        }
    }
    .indicator {
        &__button {
            img {filter: $filter_color_white;}
        }
        &__value {color: $color_primary; background:#fff;}
        &--hover {
            .indicator__area {background: rgba(255, 255, 255, 1);}
        }
    }
}


.site-header {
    &__logo {width: auto;}
    &__phone {
        &--left {margin: 0 30px 0 0 !important; text-align: left !important;}
    }
}

.search {
    &__button {
        &:hover {
            img {filter: $filter_color_primary;}
        }
    }
    &__input {
        &:focus {
            & ~ .search__border {box-shadow: 0 0 0 2px $color_primary inset;}
        }
    }
}

.nav-panel {background: $color_primary;
    &__indicators {padding: 0 0 0 20px;}
}

.nav-links {
    &__item {
        &--hover {
            .nav-links__item-link {color:#fff;}
        }
    }
        &__item-link {color:#fff;}
}

.intro-about {display: flex; flex-wrap: wrap; flex-direction: row; width: 100%; margin: 15px 0 0 0; background: #f0f0f0; 
    @media only screen and (min-width: 991px) {
        margin: 30px 0 0 0; min-height: calc(100% - 30px);
    }
    &__image {width:40%; background: url(images/prodejna.JPG) no-repeat center center; background-size: cover; display: none;
        @media (min-width: 1200px){
            display: block;
        }
    }
    &__content {width:100%; padding:0; font-size: 15px; color: #444;
        @media only screen and (min-width: 991px) {
            padding:25px;
        }
        @media (min-width: 1200px){
            width:60%;
        }
        h1 {font-size: 14px; color:#fff; padding: 10px 20px; background: $color_primary; margin:0; position: relative;
            @media only screen and (max-width: 990px) {
                &:after {content: ""; position: absolute; top:50%; transform: translateY(-50%); display: block; transition: 0.3s; filter: $filter_color_white; opacity: 1; width:12px; height: 12px; background: url(images/arrow-down.svg) no-repeat center center; background-size: contain; right:15px;}
                &.open {
                    &:after {transform: translateY(-50%) rotate(180deg);}
                }
            }
            @media only screen and (min-width: 991px) {
                padding: 0 0 30px 0; font-size: 24px; color:#000; background: none;
                &:before {content:''; width:50px; height: 1px; background: $color_primary; position: absolute; bottom:15px; left:0;}   
            }
        }
    }
        &__texts {display: none; padding:20px;
            @media only screen and (min-width: 991px) {
                padding: 0; display: block !important;
            }
        }
    &__icon {position: relative; padding: 0 0 0 40px; font-weight: bold; line-height: 1.2; margin: 15px 0 0 0; color:#000;
        &:before {content: ''; position: absolute; top:50%; left:0; transform: translateY(-50%); width:28px; height: 28px;}
        &--cash {
            &:before {background: url(images/cash.svg) no-repeat center center; background-size: contain;}
        }
        &--phone {
            &:before {background: url(images/car.svg) no-repeat center center; background-size: contain;}
        }
    }
}

.intro-open-hours-wrapper {background: #f0f0f0; height: 100%;}

.intro-open-hours {padding: 15px 0 0 0; width: 100%; background: #fff;
    @media (min-width: 991px){
        padding: 30px 0 0 0;
    }   
    &__title {font-size: 14px; color:#fff; margin:0; padding: 10px 20px; background: $color_primary; text-transform: uppercase; font-weight: bold; position: relative;
        @media only screen and (max-width: 990px) {
            &:after {content: ""; position: absolute; top:50%; transform: translateY(-50%); display: block; transition: 0.3s; filter: $filter_color_white; opacity: 1; width:12px; height: 12px; background: url(images/arrow-down.svg) no-repeat center center; background-size: contain; right:15px;}
            &.open {
                &:after {transform: translateY(-50%) rotate(180deg);}
            }
        }
    }
    &__content {padding:15px 20px; background: #f0f0f0; font-size: 15px; color: #444; display: none;
        @media only screen and (min-width: 991px) {
            display: block !important;
        }
        table {width:100%;}
    }
}

.indicator {
    &__button {
        &:hover {color:$color_primary;
            .indicator__area {
                img {filter: $filter_color_primary;}
            }
        }
    }
        &__value {background: $color_primary; color:#fff;}
    &--hover {
        .indicator__value {background: $color_primary; color:#fff;}
    }        
}

.totop {
    &__button {background: $color_primary;}
}

.block-header {position: relative;
    @media (max-width: 550px){
        justify-content: space-between;
    }  
    &__title {font-size: 19px;
        @media (min-width: 768px){
            font-size: 20px;
        }   
    }
    &__divider {
        @media (max-width: 550px){
           display: none;
        }  
    }
    &__button {background: $color_primary; color:#fff; font-size: 10px; text-transform: uppercase; font-weight: bold; display: inline-block; padding: 7px 15px; text-decoration: none; border-left: 10px solid #fff; transition: 0.2s;
        @media (min-width: 768px){
            font-size: 12px; padding: 6px 10px;
        }   
        &:hover {background: #546069; color:#fff;}
    }
}

.products-list[data-layout="grid-3-sidebar"] {
    .product-card {
        &__info {text-align: center !important;}
    }
}

.products-list[data-layout="list"] {
    .product-card {
        &__addtocart {display: block !important;}
    }
}

.product-card {text-align: center; margin: 0 0 15px 0;
    @media (min-width: 768px){
        margin: 0 0 30px 0;
    }   
    &:hover {margin: 0 0 15px 0 !important;
        @media (min-width: 768px){
            margin: 0 0 30px 0 !important;
        }  
        &::before {
            -webkit-box-shadow: 0 0 0 2px rgba(234, 89, 5, 0.7) inset;
            box-shadow: 0 0 0 2px rgba(234, 89, 5, 0.7) inset;
        }
    }
    &__info {text-align: left;}
    &__name {
        a { display: block;
            display: -webkit-box;
            height: 38px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            text-align: center;
            @media (max-width: 575px) {
                height: 57px;
                -webkit-line-clamp: 3;
            }
            &:hover {color:$color_primary;}
        }
    }
    &__availability {display: block !important; margin-top: 14px;}
    &__prices {color:$color_price;}
    &__buttons {display: block !important;
        .btn {width: 100%; text-transform: uppercase; font-size: 12px !important;}
    }
}

.page-item {
    &.active {
        .page-link {background: $color_primary; color:#fff;}
    }
}

.departments {
    &--open {
        .departments__button {
            &:after {transform: translateY(-50%) rotate(180deg)}
        }
    }
    &__body {background: #333;}
    &__item {
        &--has-child {
            a {position: relative;
                &:after {content: ""; position: absolute; top:50%; transform: translateY(-50%) rotate(-90deg); display: block; transition: 0.3s; filter: $filter_color_white; opacity: 0.5; width:8px; height: 8px; background: url(images/arrow-down.svg) no-repeat center center; background-size: contain; right:15px;}
                &:hover {
                    &:after {opacity: 1;}
                }
            }
        }
        &--hover {
            .departments__item-link {background: #444;}
        }
    }
    &__button {cursor: pointer;
        &:before, &:after {content: ""; position: absolute; top:50%; transform: translateY(-50%); display: block; transition: 0.3s; filter: $filter_color_white; opacity: 0.5;}
        &:before {width:18px; height: 18px; background: url(images/menu.svg) no-repeat center center; background-size: contain; left:15px;}
        &:after {width:8px; height: 8px; background: url(images/arrow-down.svg) no-repeat center center; background-size: contain; right:15px;}
        &:hover {
            &:before, &:after {opacity: 1;}
        }
    }
}

.block-features {
    &__item {align-items: center; color:#000; text-decoration: none; transition: 0.3s; justify-content: center;
        &:hover {color:$color_primary; background: #f0f0f0;}
    }
        &__icon {width:auto; height: auto;
            img {filter: $filter_color_primary;}
        }

    &--layout {
        &--classic {
            @media (max-width: 767px) {
                .block-features__item {
                    width: 100%;
                }
                .block-features__divider:nth-child(2n) {
                    width: 100%;
                    height: 2px;
                }
            }
            @media (max-width: 991px) and (min-width: 768px) {
                .block-features__item {
                    width: calc(33.33% - 2px);
                }
            }
            @media (max-width: 991px) and (min-width: 768px) {
                .block-features__divider:nth-child(4n) {
                    width: 2px;
                    height: auto;
                }
            }
        }        
    }
}

@media (max-width: 575px) and (min-width: 420px) {
    .block-features--layout--classic {
        .block-features__item {
            text-align: left;
            flex-direction: row;
        }
        .block-features__icon {
            margin-bottom: 0;
            margin-right: 24px !important;
            width: unset;
        }
    }
}

.site-footer {
    &__copyright {text-align: center; display: block; width: 100%; color:#666;
        a {color:#666;}
    }
}

.widget-filters {padding-bottom: 0; border-bottom: none;}

.filter {
    &__title {position: relative;
        &:after {content: ""; width:8px; height: 8px; background: url(images/arrow-down.svg) no-repeat center center; background-size: contain; position: absolute; top:50%; transform: translateY(-50%); display: block; right:15px; opacity: 0.5;}
    }
    &--opened {
        .filter__title {
            &:after {transform: translateY(-50%) rotate(180deg);}
        }
    }
}

.filters-button {
    &__counter {background: $color_primary; color: #fff;}
}

.filter-price {
    &__title {display: flex; width: 100%; justify-content: space-between;}
}

.noUi-connect {background: $color_primary;}
.noUi-horizontal {
    .noUi-handle {
        &:after {background: $color_primary;}
    }
}

.sidebar-contacts { padding: 0;
    &__contacts {
        font-size: 15px;
        line-height: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 4px 0;
            position: relative;
        }
    }
    &__icon {margin-right: 2px;}
}


.breadcrumb-item {
    a {position: relative;
        &:after {content: ""; width:8px; height: 8px; background: url(images/arrow-down.svg) no-repeat center center; background-size: contain; position: absolute; top:50%; transform: translateY(-50%) rotate(-90deg); display: block; right:-17px; opacity: 0.4;}
        &:hover {color:$color_primary;}
    }
}

.layout-switcher {
    &__button {
        &--active {border-color: $color_primary; background: $color_primary;
            img {filter: $filter_color_white;}
            &:hover {border-color: $color_primary; background: $color_primary;
                img {filter: $filter_color_white;}
            }
        }
    }
}

.view-options {
    &__control {margin-left: auto !important;
        @media (max-width: 475px){
            margin: 10px 0 0 0 !important; width:100%;
        }  
        label {
            @media (max-width: 549px){
                display: none;
            }   
        }
    }
}

.categories-view {display: flex; flex-wrap: wrap; width: 100%;
    @media (min-width: 550px){
        width:calc(100% + 12px); margin: 0 -6px;
    }  
    &__item {width:100%; padding: 0; margin: 0 0 10px 0;
        @media (min-width: 550px){
            width:50%; margin: 0 0 16px 0; padding: 0 6px; 
        }  
        @media (min-width: 768px){
            width:33.33%;
        }  
        @media (min-width: 1200px){
            width:25%;
        }  
    }
}

.category-view-link {border:2px solid #f0f0f0; border-radius: 2px; padding: 0 15px; text-decoration: none; display: flex; height: 100%; align-items: center; justify-content: flex-start; min-height: 40px; transition: 0.3s; position: relative;
    @media (min-width: 550px){
        min-height: 54px;
    } 
    &__name {font-size: 15px; font-weight: bold; line-height: 1.1; margin: 0; padding: 0; color: #333; transition: 0.3s;}
    &:hover {border-color: $color_primary;
        .category-view-link__name {color:$color_primary;}
    }
    &--back {background: $color_primary; border-color: $color_primary; padding: 0 15px 0 50px;
        &:before {width:18px; height: 18px; background: url(images/back-arrow.svg) no-repeat center center; background-size: contain; left:15px; content: ""; position: absolute; top:50%; transform: translateY(-50%); display: block; transition: 0.3s; filter: $filter_color_white; opacity: 0.7;}
        .category-view-link__name {color:#fff;}
        &:hover {border-color: #546069; background: #546069;
            &:before {opacity: 1;}
            .category-view-link__name {color:#fff;}
        }
    }
}

.product {
    &__name {margin: 0 0 0 0;}
    &__code {margin: 0 0 20px 0; font-size: 14px; color: #888;}
    &__sidebar {margin:10px 0; padding: 20px; background: #f1f1f1; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; width: 100%;
        @media (max-width: 475px){
           text-align: center; justify-content: center;
        }  
    }
    &__prices {margin: 10px 0; font-size: 16px; font-weight: 500; letter-spacing: 0; color:#3d464d; line-height: 1.1; padding: 0 20px 0 0;
        @media (max-width: 475px){
            width: 100%; padding: 0;
        } 
        .original-price {text-decoration: line-through; font-style: italic; color:#666;}
        .base-price {font-size: 24px; font-weight: 700; letter-spacing: -.03em; color:$color_price; margin:5px 0;}
        .vatless-price {font-weight: 600; font-size: 15px;}
    }
    &__option-label {display: none;}
    &__attachments {padding: 20px 0;}
        &__attachments-caption {font-size: 16px; font-weight: 700; letter-spacing: 0; color:#3d464d; line-height: 1.1; margin: 0 0 10px 0;}
        &__attachments-list {list-style: none; margin: 0; padding: 0;
            li {margin: 0; padding: 0;}
                a {color:#3d464d; display: inline-block; position: relative; text-decoration: underline; transition: 0.3s;
                    &:hover {text-decoration: none; color:$color_primary;}
                    &.pdf {padding: 0 0 0 25px;
                        &:before {content: ''; width:16px; height: 16px; background: url(images/pdf.svg) no-repeat center center; background-size: contain; position: absolute; top:50%; left:0; transform: translateY(-50%);}
                    }
                }
        }
}

.product-gallery {
    &__carousel-item {
        &--active {
            -webkit-box-shadow: 0 0 0 2px $color_primary inset;
            box-shadow: 0 0 0 2px $color_primary inset;
        }
    }
}

.input-number {width:70px; position: relative; border: 1px solid #cecece;
    &__input {background: #fff; border: none; min-width: 1px; max-width: 48px; margin: 0; padding: 0; text-align: center; font-size: 16px; height: 44px; outline: none !important;}
    &__add, &__sub {opacity: 1; position: absolute; right: 0 !important; width:22px; height: 21px;
        &:hover {background: $color_primary; color:#fff;}
    }
    &__add {background: #e2e2e2; top:0;}
    &__sub {background: #e2e2e2; bottom:0; left:unset !important; top:unset !important;}
}

.form-control {
    &:focus {
        color: #495057;
        background-color: #fff;
        box-shadow: none;
    }
}

.block-header {
    &__arrow {
        &--left {
            img {transform: rotate(90deg);}
        }
        &--right {
            img {transform: rotate(-90deg);}
        }
        &:focus, &:hover {background: $color_primary;
            img {filter: $filter_color_white;}
        }
    }
}

.form-text {
    &.forgotten-pass {text-align: right;
        a {color:#000; text-decoration: underline;
            &:hover {text-decoration: none; color:$color_primary;}
        }
    }
}

.input-check__input:checked ~ .input-check__box {
    background: $color_primary;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
}

.input-check__icon {filter:$filter_color_white; left: 4px; top: 3px;}

.typography {
    a {color:$color_primary;; text-decoration: underline;
        &:hover {text-decoration: none; color:$color_primary;}
    }
    ul {list-style: none; margin: 0 0 25px 0; padding: 0;
        li {margin: 0; padding: 0 0 0 15px; position: relative;
            &:before {content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 100%; background: $color_primary;}
        }
    }
}

.about-us__text {
    .embed-responsive {margin: 0 0 25px 0;}
    ul {text-align: left;}
}

.cta-region {display: flex; align-items: center; justify-content: center; margin: 0 0 25px 0; flex-direction: column;
    @media (min-width: 768px){
        flex-direction: row;
    }  
    &__controls {padding: 15px;
        a {background: $color_primary; color:#fff; font-size: 14px; text-transform: uppercase; font-weight: bold; display: inline-block; padding: 7px 15px; text-decoration: none; border-left: 10px solid #fff; transition: 0.2s;
            @media (min-width: 768px){
                font-size: 15px; padding: 10px 30px;
            }   
            &:hover {background: #546069; color:#fff;}
        }
    }
    &__separator {font-style: italic;
        @media (min-width: 768px){
            padding: 15px;
        }  
    }
    &__call {padding: 15px 15px 15px 45px; font-weight: 500; font-size: 18px; position: relative;
        &:before {content: ''; position: absolute; top: 50%; left: 15px; transform: translateY(-50%); width: 20px; height: 20px; background: url(images/phone.svg) no-repeat center center; background-size: contain; opacity: 0.5;}
        a {text-decoration: none; color:#000; font-weight: bold;}
    }
}

.typography {
    .my-gallery {
        figure {margin: 0 0 30px 0;}
    }
}

.pswp__img {
    max-width: none;
    object-fit: contain;
    &--placeholder {opacity: 0;}
}

.contact-us {
    &__map {margin: 0;}
    &__address {
        a {color:$color_primary;; text-decoration: underline;
            &:hover {text-decoration: none; color:$color_primary;}
        }
    }
}

.empty-search-header {
    h1 {margin-top: 30px;}
}
.empty-search { width:100%; max-width: 400px; margin: 0 auto;}

.cart {
    .card {border: none;
        .card-body {padding: 0;}
    }
    &__totals-body {
        tr:first-child > * {
            border-top: none;
        }
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .cart-table__column--price, 
    .cart-table__column--total {width: 120px;}
}

.checkout {
    &__totals {
        margin-bottom: 0;
    }
}

.form-check-label {
    a {color:$color_primary;; text-decoration: underline;
        &:hover {text-decoration: none; color:$color_primary;}
    }
}

.form-group {
    &--delivery {
        .form-check {margin: 0 0 10px 0;}
    }
}

.cart-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0 15px 0;
    width: 100%;
    @media only screen and (min-width: 768px) {
        padding: 50px 0 40px 0;
    }
    &__step {
        max-width: 20%;
        &--current {
            .cart-nav-step__icon {background: $color_primary;}
            .cart-nav-step__caption:before {border-left-color: $color_primary;}
        }
        &:last-child {
            .cart-nav-step__caption:before {display: none; content: none;}
        }  
    }
}

.cart-nav-step {
    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
        @media only screen and (min-width: 768px) {
            padding: 0 15px;
        }
        @media only screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }
        &__icon {
            font-size: 15px;
            color: #fff;
            font-weight: bold;
            background: #01081b;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 100%;
            margin: 0 0 10px 0;
            @media only screen and (min-width: 1200px) {
                margin: 0;
            }
        }
        &__caption {
            font-size: 12px;
            color: #000;
            font-weight: bold;
            line-height: 1.2;
            text-transform: uppercase;
            padding: 0 15px;
            position: relative;
            text-align: center;
            display: none;
            @media only screen and (min-width: 768px) {
                padding: 0 15px 0 0px; display: block;
            }
            @media only screen and (min-width: 1200px) {
                text-align: left; font-size: 15px; padding: 0 30px 0 20px;
            }
            @media only screen and (min-width: 768px){
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border-left: 5px solid #01081b;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    transform: translateY(-50%);
                }
            }
        }      
}

.checkout-login {max-width: 750px; margin: 0 auto; 
    @media only screen and (min-width: 768px) {
        padding: 55px 0 35px 0;
    }
}

.height100 {height: 100%;}

@media (max-width: 479px) {
    .products-list[data-layout="grid-3-sidebar"] {
        .products-list__item {
            width: calc(50% - 12px);
            margin: 8px 6px;
        }
    }

    .products-list[data-layout^="grid-"] {
        .product-card {
            .product-card__image {
                padding: 10px 10px 10px;
            }
            .product-card__info {padding: 0 10px 0;}
            .product-card__actions {padding: 0 10px 10px;}
        }
    }
}

@media (max-width: 575px) {
    .block-products-carousel__slider {
        .row {margin-right: -6px; margin-left: -6px;
            &>div {padding-right: 6px; padding-left: 6px;}
        }
    }

    .block-products-carousel[data-layout="grid-4"] {
        .product-card {
            .product-card__image {
                padding: 10px;
            }
            .product-card__info {
                padding: 0 10px 0;
            }
            .product-card__actions {padding: 0 10px 10px;}
        }
    }
}